@import url('https://fonts.googleapis.com/css?family=Lato|Comfortaa');

body
{
	background: #6441a4;
	color:#2c3e50;
	text-align: center;
	text-transform: uppercase;
	font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 30px;
	font-style: italic;
}
#streamCanvas
{
	position: absolute;
	width: 1920px;
	height:1080px;
	top: 0;
	left: 0;
	overflow:hidden;
	background-image: url("img/anders-jilden-295809-unsplash.jpg");
	background-size: cover;
}
#topBar
{
	background:#ebf1f5;
	position: absolute;
	top:50px;
	left:50px;
	width:1820px;
	height: 60px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 60px;
}

@keyframes fadeIn
{
    from
	{
		filter:opacity(0);
	}
	to
	{
		filter:opacity(1);
	}
}