@import url('https://fonts.googleapis.com/css?family=Lato|Comfortaa');

body
{
	background: black;
	color:#2c3e50;
	text-align: center;
	text-transform: uppercase;
	font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 28px;
}
#streamCanvas
{
	position: absolute;
	width: 1920px;
	height:1080px;
	top: 0;
	left: 0;
	overflow:hidden;
	background-image: url("img/anders-jilden-295809-unsplash.jpg");
	background-size: cover;
}
#topBar
{
	background:#ebf1f5;
	position: absolute;
	top:50px;
	left:50px;
	width:1820px;
	height: 60px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 60px;
	box-shadow: 0px 5px 15px 5px #00000088;
	animation-name:fadeInDown;
	animation-duration:0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: backwards;
}
.topBarLeft
{
	display:flex;
	flex-direction: row;
	align-items: center;
}
.topBarRight
{
	display:flex;
	flex-direction: row;
	align-items: center;
}
.topTwitchLogo
{
	height: 60px;
	width:60px;
	background:#6441A4;
	background-image: url("img/twitch-logo.png");
	background-position:center;
	background-repeat: no-repeat;
	margin-right: 20px;
}
.topMixerLogo
{
	height: 60px;
	width:60px;
	background:#03214f;
	background-image: url("img/mixer-logo.png");
	background-position:center;
	background-repeat: no-repeat;
	margin-right: 20px;
}
.socialMediaTop
{
	margin:0 5px;
}
.topClock
{
	margin-left: 15px;
	padding: 0 20px;
	height: 60px;
	color:#ebf1f5;
	background:#1359ff;
	display: inline-block;
}
.clockTicker
{
	animation-name:fadeIn;
	animation-duration:1s;
	animation-iteration-count: infinite;
}
.topProfilePicture
{
	
}
.osWindow
{
	position: absolute;
	background: #ebf1f5;
	border: 1px solid #ebf1f5;
	border-top: 0px solid #ebf1f5;
	box-shadow: 0px 2px 5px 2px #00000088;
	animation-name:scaleIn;
	animation-duration:0.5s;
	animation-delay: 1s;
	animation-fill-mode: backwards;
}
.osWindowFocus
{
	box-shadow: 0px 5px 15px 5px #000000aa;
}
.osWindowTop
{
	font-size: 16px;
	font-style: italic;
	font-weight: bolder;
	height: 30px;
	line-height: 30px;
}
#nowPlayingVideo
{
	width:1280px;
	height:720px;
	display:block;
}
#osNowPlaying
{	
	position: absolute;
	left:35px;
	top:200px;
	z-index: 10000;
	animation-delay: 1.5s;
	animation-fill-mode: backwards;
}
.osPNG
{
	display: block;
}
#osMonthlyMain
{
	position: absolute;
	right:25px;
	top:250px;
	z-index: 1000;
	animation-delay: 1s;
	animation-fill-mode: backwards;
}
#osVGBCMain
{
	position: absolute;
	right:80px;
	top:570px;
	z-index: 1001;
	animation-delay: 1.25s;
	animation-fill-mode: backwards;
}
#osGifOffline
{
	position: absolute;
	left:200px;
	top:250px;
	z-index: 10000;
	animation-delay: 1.25s;
	animation-fill-mode: backwards;
}
#osMonthlyOffline
{
	position: absolute;
	right:125px;
	top:350px;
	z-index: 1000;
	animation-delay: 1s;
	animation-fill-mode: backwards;
}
.osAlertBox
{
	margin-top:10px;
	margin-left:10px;
	margin-right:10px;
	display: inline-block;
	font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	background: #ebf1f5;
	border: 1px solid #ebf1f5;
	border-top: 0px solid #ebf1f5;

	animation-name:scaleIn;
	animation-duration:0.5s;
	animation-delay: 1s;
	animation-fill-mode: backwards;

	box-shadow: 0px 5px 5px #00000088;
}
.osAlertWindowTop
{

	font-size: 9px;
	font-style: italic;
	font-weight: bolder;
	height: 16px;
	line-height: 16px;
}
.osAlertContent
{
	padding: 20px;
	color: #ebf1f5;
	background-image: url("img/funny.gif");
	background-size: cover;
	background-position: center;
}
.osAlertUsername
{
	font-size: 36px;
	font-weight: bold;	
	text-shadow: 0px 5px 5px #00000088;
}
.osAlertText
{
	margin-top:0.5ch;
	font-size: 12px;
	font-weight: bolder;
	font-style:italic;
	text-shadow: 0px 2px 3px #00000088;
	max-width: 70ch;
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

#osLowerThirdCanvas
{
	position: absolute;
	width: 100vw;
	height:100vh;
	top: 0;
	left: 0;
	overflow:hidden;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* background-image: url("img/anders-jilden-295809-unsplash.jpg"); */
	background-size: cover;
}
.osLowerThird
{
	width:90vw;
	height: 90vh;

	display: inline-block;
	font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	background: #ebf1f5;
	border: 1px solid #ebf1f5;
	border-top: 0px solid #ebf1f5;

	animation-name:scaleIn;
	animation-duration:0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: backwards;

	box-shadow: 0px 2vh 2vh #00000088;

	overflow: hidden;
	background-image: url("img/lower-third.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;

}
.osLowerThirdTop
{
	background: #ebf1f5;
	font-size: 9px;
	font-style: italic;
	font-weight: bolder;
	height: 16px;
	line-height: 16px;
}
.osLowerThirdText
{
	height: fit-content;
	color: #ebf1f5;
	font-size: 5vw;
	font-weight: bold;
	
	text-shadow: 0px 1vh 1vh #00000088;

}

#osWebcamCanvas
{
	position: absolute;
	width: 100vw;
	height:100vh;
	top: 0;
	left: 0;
	overflow:hidden;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* background-image: url("img/anders-jilden-295809-unsplash.jpg"); */
	background-size: cover;
}
.osWebcam
{
	width:90vw;
	height: 90vh;

	display: inline-block;
	font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	background: rgba(0, 0, 0, 0);
	border: 0.5vh solid #ebf1f5;
	border-top: 0px solid #ebf1f5;

	box-shadow: 0px 2vh 2vh #00000088;

	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;

}
.osWebcamTop
{
	background: #ebf1f5;
	font-size: 5vh;
	font-style: italic;
	font-weight: bolder;
	height: 9vh;
	line-height: 9vh;
}
.osWebcamContent
{
	color: #ebf1f5;
	font-size: 5vw;
	font-weight: bold;
	text-shadow: 0px 1vh 1vh #00000033;
}

.osWebcamBG
{
	width:90vw;
	height: 90vh;

	display: inline-block;
	font-family: Lato, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	background: black;

	box-shadow: 0px 2vh 2vh #00000088;

	background-image: url("img/anders-jilden-295809-unsplash.jpg");
	background-size: cover;
	background-position: center;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;

}

#preshowCanvas
{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
}
.preshowContainer
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content:center;
}

.preshowText
{
	color: #ebf1f5;
	font-size: 6vw;
	font-weight: bold;
	text-shadow: 0px 0.75vh 1vh #00000088;

	animation-name:preshowIn;
	animation-duration:0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: backwards;
}
#preshowVideo
{
	display: block;
	position: absolute;
	top:0;
	left:0;
	z-index: -100;
	width:100%;
	height:100%;
	object-fit: cover;
}

@keyframes fadeIn
{
    from
	{
		filter:opacity(0);
	}
	to
	{
		filter:opacity(1);
	}
}
@keyframes fadeInDown
{
    from
	{
		filter:opacity(0);
		transform: translateY(-50px); 
	}
	to
	{
		filter:opacity(1);
	}
}
@keyframes scaleIn
{
    from
	{
		transform: scale(0.95, 0.95);
		filter:opacity(0);
	}
	to
	{
		filter:opacity(1);
	}
}
@keyframes preshowIn
{
    from
	{
		transform: scale(0.95, 0.95);
		filter:opacity(0);
		text-shadow: 0px 0vh 0vh #00000000;
	}
	to
	{
		filter:opacity(1);
		text-shadow: 0px 0.75vh 1vh #00000088;
	}
}